<a href="https://colab.research.google.com/github/kanakesh2006/60hours-of-Machine-Learning-Part-1/blob/main/2.4.%20List_Tuple_Set_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Types of Objects in Python
  1. Immutable Objects
  1. Mutable Objects

### Immutable objects
- int
- float
- string
- bool
- tuple

#### Tuple -> ( )

In [ ]:
tup_1 = (1,2,3,4,5)
print(tup_1)

(1, 2, 3, 4, 5)

In [ ]:
# multiple data types
multiple_tup = (2, 4.18, "hello", True)
print(multiple_tup)

(2, 4.18, 'hello', True)

In [ ]:
# converting a list to tuple
list = [9,8,7,6,5]
tuple = tuple(list)
print(tuple)

(9, 8, 7, 6, 5)

In [ ]:
# indexing
print(tup_1[0])
print(tup_1[1])
print(tup_1[2])

1
2
3

In [ ]:
# immutable (unchangeable)
tup_1.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# no.of elements
print(len(tup_1))

5

### Mutable objects
- List
- Set
- Dictionary

#### List -> [ ]

In [ ]:
my_list = [1,2,3,4,5]
print(my_list)
type(my_list)

[1, 2, 3, 4, 5]

list

In [ ]:
# multipile data types
multiple_list = [2, 4.18, "hello", True]
print(multiple_list)

[2, 4.18, 'hello', True]

In [ ]:
# list are mutable(changeable)
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6]

In [ ]:
# indexing
print(my_list[0])
print(my_list[1])
print(my_list[2])

1
2
3

In [ ]:
# allows duplicates
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 5, 6, 6, 6]

In [ ]:
# length of list (no.of elements)
print(len(my_list))

8

In [ ]:
# delete an item from list
print(my_list)
del my_list[6]
print(my_list)
my_list.remove(5)
print(my_list)
my_list.pop(4)
print(my_list)

[1, 2, 3, 4, 5, 6, 6, 6]
[1, 2, 3, 4, 5, 6, 6]
[1, 2, 3, 4, 6, 6]
[1, 2, 3, 4, 6]

#### Set -> { }

In [9]:
my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [10]:
# no indexing, not possible
my_set[0]

TypeError: 'set' object is not subscriptable

In [1]:
# convert a list into set
list1 = [1,2,3,4,5,5]
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5}

In [2]:
set_2 = {1,2,2,3,3,4,5}

In [3]:
print(set_2)

{1, 2, 3, 4, 5}

#### Dictionary -> { *key* , *value* }

In [5]:
my_dict = {'name' : 'David', 'age' : 30, 'country' : 'India'}
print(my_dict)
type(my_dict)

{'name': 'David', 'age': 30, 'country': 'India'}

dict

In [6]:
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['country'])

David
30
India

In [10]:
# no duplicactes allowed
my_dict2 = {'name' : 'David', 'age' : 30, 'age' : 15, 'country' : 'India'}
print(my_dict2)
type(my_dict2)

{'name': 'David', 'age': 15, 'country': 'India'}

dict